**/.vscode/**
**/.vscode-test/**
**/*.ts
**/webview/**
pnpm-lock.yaml
pnpm-workspace.yaml
*.vsix
build.ps1
tsconfig.json
vite.config.*
.gitignore
.npmrc
node_modules/**
!out/**
!wasm/**
!LICENSE
!README.md
!package.json
